<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>

    <!-- Importamos el CDN de vue -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

</head>
<body>
    <div id="app">
        <div>Count {{ count }}</div>
        <button class="vue-btn" @click="increment">Increment</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                count: 0
            },
            methods: {
                alertTime() {
                    alert(`The time is ${Date.now().toLocaleString()}`);
                },
                increment() {
                    this.count++;
                }
            },
            created() {
                this.alertTime();
                alert(1);
            },
            mounted() {
                this.alertTime();
                alert(2);
            },
            // Podemos utilizar el udpated para monitorizar cada uno de los cambios que 
            // aplicamos sobre el DOM.  
            updated() {
                console.log('this.count', this.count)
            }
            
        })
    </script>
</body>
</html>