<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>

    <!-- Importamos el CDN de vue -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

</head>
<body>
    <div id="app">
        {{ text }}
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                text: 'Hola mundo!!'
            }
        })
    </script>
</body>
</html>