<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>NoteMaster-App1</title>

    <!-- #### BOOTSTRAP CDN ###### -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but NoteMaster-App1 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <div class="container">
        <div class="form">
            <div class="form-grup">
                <div class="form-grup">
                    <label>Note title</label>
                    <input type="text" v-model="note.title">
                </div>
                <div class="form-grup">
                    <label for="">Note text</label>
                    <textarea class="form-control" cols="30" rows="10" v-model="note.text"></textarea>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<script>

  var app = new Vue({
    el: '#app',
    note: {
      title: '',
      text: ''
    }

  });

</script>