<template>
  <div class="col-md-4" @click="switchCharacter">
    <!-- {{ character }} -->
    <div class="character-card">
      <div class="card-block">
        <h4 class="card-title">{{ character.name }}</h4>
        <p class="card-text">Height: {{ character.height }}cm</p>
        <p class="card-text">Mass: {{ character.mass }}kg</p>
        <p class="card-text">Hair color: {{ character.hair_color }}</p>
        <p class="card-text">Eye color: {{ character.eye_color }}</p>
    </div>
      </div>
  </div>
</template>

<script>
  // iniciamos como Vue component
  export default {
    props: ['id'],
    data() {
      return {
        character: {}
      }
    },
    methods: {
      // Con este código tomamos info a través de la API https://swapi.co
      fetchCharacter(id) {
        fetch(`https://swapi.co/api/people/${id}`, {
          method: 'GET'
        })
          .then(response => response.json())
          .then(json => this.character = json)
      },
      // Genera un numero aleatorio del 1 al 83 (hay 83 personajes)
      switchCharacter() {
        let random_id = Math.floor(Math.random() * 83) * 1
        this.fetchCharacter(random_id)
      }
    },
    created() {
      this.fetchCharacter(this.id)
    }
  }
</script>

<style scoped>

</style>
