<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>

    <!-- Importamos el CDN de vue -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

</head>
<body>
    <div id="app">
        <!-- Listamos el nombre del color, y filtramos por primario o no -->
        <ul v-for="color in colors" :key="color.id" v-if="color.primary">
            <li>{{ color.text }}</li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                colors: [
                    {
                        text: 'rojo',
                        primary: true
                    },
                    {
                        text: 'verde',
                        primary: false
                    },
                    {
                        text: 'azul',
                        primary: true
                    },
                    {
                        text: 'amarillo',
                        primary: true
                    },
                    {
                        text: 'naranja',
                        primary: false
                    },
                ]
            }
        })
    </script>
</body>
</html>