<template>
  <div class="">
    <Item
      v-for="(item, index) in items"
      v-bind:key="index"
      :item="item"
    />
  </div>
</template>

<script>
  import Item from './Item.vue'

  export default {
    data() {
      return {
        type: this.$route.params.type,
        items: []
      }
    },
    // Está vigilando el cambio de la variable $route
    watch: {
      '$route': 'fetchItems'
    },
    methods: {
      fetchItems() {
        this.items = []
        this.type = this.$route.params.type
        let initial_ids = [1, 13, 14]

        for (let i in initial_ids) {
          let id = initial_ids[i]
          console.log('id', id)

          fetch(`http://swapi.co/api/${this.type}/${id}`, {
            mode: 'no-cors',
            method: 'GET'
          })
            .then(response => response.json())
            .then(json => this.items.push(json))
        }
      }
    },
    created() {
      this.fetchItems()
    },
    component: {
      Item
    }
  }
</script>

<style scoped>

</style>
