<template>
  <div id="app">
    <h2>Got jokes?</h2>
    <button class="btn btn-primary" @click="initJokes">Add ten random jokes</button>
    <button class="btn btn-primary" @click="addJoke">Add a joke</button>
    <br>
    <!-- Listamos los input checkbox que tenemos en el Data de este mismo archivo -->
    <span v-for="type in types" v-bind:key = "type">
      <input type="checkbox" :value="type" v-model="checkedTypes" checked>
      <label>{{ type }}</label>&nbsp;
    </span>
    <br>
    <div class="col-md-12">
      <Joke
      v-for="(joke, index) in $store.state.jokes" v-bind:key = "index"
      v-show="checkedTypes.includes(joke.type)"
      :joke="joke"
      :index="index"
      />
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import Joke from './Joke.vue'

// Paso 3, mapeamos la acción y añadimos el botón en la vista
  export default {
    data() {
      return {
        // FILTRADO. Paso1, creamos un array con los tipos de bromas
        types : ['general', 'knock-knock', 'programming'],
        checkedTypes: ['general', 'knock-knock', 'programming']
      }
    },
    methods: mapActions([
      'initJokes',
      'addJoke'
    ]),
    components: {
      Joke
    }
  }
</script>

<style scoped>

</style>
