<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>

    <!-- Importamos el CDN de vue -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

</head>
<body>
    <div id="app">
        <span>Cambia el texto</span>
        <!-- Enlazamos el v-model con la propiedad del data -->
        <input v-model="text" placeholder="texto..">
        <div>Mayusculas: {{ upperText }}</div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                text: ''
            },
            computed: {
                upperText() {
                    return this.text.toUpperCase();
                }
            }
        })
    </script>
</body>
</html>