<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App</title>

    <!-- Importamos el CDN de vue -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">

</head>
<body>
    <div id="app">
        <h1>Componente padre</h1>
        <hr>
        <!-- Enlazamos con v-bind para que lo tome como un tipo Number y no String 
            utilizamos guiones para separar, en lugar del camelcase-->
        <counter v-bind:add-num="5"></counter>
    </div>

    <script>
        // Opcions object, will contain any data our component to have
        // Notar la diferencia del data del componente y la de la instancia de vue
        var counter = Vue.component('counter', {
            template:  `
            <div>
                <h3>Componente hijo</h3>
                <div>Count: {{ this.count }}</div>
                <button class="vue-btn" @click="increment">Suma uno {{ this.addNum }}</button>
            </div>
            `,
            props: {
                // Objeto
                addNum: {
                    type: Number, 
                    default: 1
                }
            },
            data() {
                return {
                    count: 0
                }
            },
            methods: {
                increment() {
                    this.count += this.addNum;
                }
            }
        })

        /********************** INSTANCIA DE VUE *************************/
        var app = new Vue({
            el: '#app',
            data: {
                
            },
            components: {
                counter
            }
        })
    </script>
</body>
</html>