body {
  background: #263238;
}

#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -wbekit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.link, .link:hover, .link:visited, .link:active {
  color: #4FC08D;
}
