body {
  background: #263238;
}

#app {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -wbekit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.character-card {
  border: 2px solid #4FC08d;
  border-radius: 4px;
  cursor: pointer;
}
