<template>
  <div id="app">
    <h3>{{ title }}</h3>
    <!-- <button class="btn btn-primary" @click="fetchCharacter"> Test funcion</button> -->
    <div class="col-md-12">
      <Character
      v-for="(id, index) in initial_ids" :id="id" :key="index" />
    </div>
  </div>
</template>

<script>
import Character from './components/Character.vue'

  export default {
    name: 'app',
    data() {
      return {
        title: 'Generate your team',
        initial_ids: [1, 13, 14]
      }
    },
    components: {
      Character
    }
  }
</script>

<style scoped>

</style>
